#contact_me{
  width:20%;
  margin:auto;
}
#contact_me img{
  width:100%;
}
#info{
  width: 40%;
  margin-right:auto;
}
#info h1{
  width:100%;
  margin-left:20%; 
}
#info h2{
  width:100%;
  margin-left:5%;
}

#info p a{
  color:white;
}
#info figure{
  width:60%;
  display: flex; 
  margin:auto auto auto 10%; 
}
#info figure a{
 width:100%;
 margin:3%; 
}
#info figure a img{
  width:100%;
}
#main_aside{
  display: flex;
}
#office_location h1{
  text-align: center;
  margin-bottom: 10%;
}

#office_location img{
  border-radius: 3em;
}
#form{
  display: flex;
  flex-wrap: wrap;
}


#form h1{
  width:100%;
  text-align:center;
  margin:5% 5%; 
}
#form label{
  display: block;
  width:20%;
}

input, textarea{
  outline:none;
  border: none;
  width:50%;
  border: 2px solid;
  border-radius: 15px;
}
input[type=text]:focus{
   
   border: 3px solid #FF5722;
}
#field_wrap{
  width:80%;
  font-size:150%;
  margin:auto;
}
#email_wrapper {
 margin:0% auto 5% auto;
  
}
input[type=text] {
  width:50%;
  border: 2px solid;
  height:40px;
  font-size: 100%;
  margin-left:15%;
  
}
textarea{
  outline:none;
  border: 2px solid ;

  resize: none;
  font-size:100%;
  margin-left:15%;
}
textarea:focus{
  border: 3px solid #FF5722;
}


.contact_wrapper{
  display: flex;
  
}
#submit_wrapper{
  display: flex;
}
input[type=submit]{
  width:30%;
  margin:10% auto 10% auto;
  
}
.name_wrapper, .field_wrapper, .input_wrapper{
  display: flex;
}
#email_wrapper, .message{
  width:50%;
}
.input_wrapper{
 margin-bottom: 5%;
}
.name_wrapper > div{
  width:50%;
}


@media(max-width: 768px){
  #nav_header a:not(:nth-child(5)){
    display: none;
  }
   #nav_header a:nth-child(5){
    margin-left:auto;
  }
  #contact_me{
    display: none;
  }
   #info{
    margin:auto;
     width:90%; 
  }
  #info h1{
    margin-left:0;
    text-align: center;
  }
  #main_aside{
    display: block;
  }
  
  #office_location img{
    width:100%;

  }
  #field_wrap{
    width:80%;
  }
  input[type=text]{
    width:50%;
    margin-left:15%;
  }
  textarea{
    margin-left:15%;
  }
  .name_wrapper{
    display: block;
    
  }
  .field_wrapper{
    display: block;
  }
  .input_wrapper, #email_wrapper{
    width: 100% !important;
  }
    
  
 
  
}
@media(min-width:769px) and (max-width:1024px){
  #main_aside{
    display: block;
  }

  #info h2{
    margin-top:5%;
  }
  #office_location h1{
    margin-top:10%;
  }
  #office_location figure{
    width: 50%;
     margin:auto;
    
  }
    #contact_me{
    display: none;
  }
  
  #office_location figure a{
    display: block;
    width:100%;
  }
  #office_location figure img{
    width:100%;
   
  }
  #form ul{
    width:50%;
  }
  #form textarea{
    width:50%;
  }
  #info{
    margin:auto;
  }
  #field_wrap{
    width:70%;
  }
  textarea{
    margin-left:15%;
  }
}

@media(min-width:1025px){
  
  
}


 



