#works_intro h1{
  margin-left:10%;
}
#works_intro h2{
  margin-left:30%;
}


#video{
  margin-left: 10%;
  width:90%;
}

.horizontal{
   margin:10% 5% 15%  5%;
}
.vertical{
  height: 50%;
  margin-top: 40%;
  margin-left:50%;
}

#table_title{
  margin-bottom: 10%;
}

#works_table thead{
  background-color: var(--color-accent);
}
#works_table , th, td {
  border: 2px solid #BDBDBD;
  text-align: center;
 
}
#works_table{
  width:50%;
  margin:auto;
  margin-bottom: 20%;
}

#main_aside{
  display: grid;
  grid-template-rows: 60% 40% 30%;
  grid-template-columns: 60% 5% 40% ;
}
#main_aside aside{
  margin: 10%;
  
}
#main_aside aside ul ,li{
  margin:5%;
}


@media(max-width:768px){
      #nav_header a:not(:nth-child(2)){
    display: none;
  }
     #nav_header a:nth-child(2){
    margin-left:auto;
  }
  #video{
    width:80%;
    margin:auto;
  }
  #works_intro h2{
  margin-left:0;
  }
  #table_title{
    font-size: 120%;
  
  }
  .vertical{
    display: none;
  }
  #works_table{
    width:100%;
    margin-bottom:5%;
  }
   #main_aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
    #works_intro{
    margin-bottom: 10%;
  }
  aside{
    width:100%;
  }
  h2{
    font-size:80%;
  }
}



@media(min-width:769px) and (max-width:1024px){
  #video{
    width:80%;
  }
  #table_title{
    font-size: 150%;
    text-align: center;
  }
  #main_aside{
    display: grid;
    grid-template-rows: 30% 30% 40%;
    grid-template-columns: 100%;
  }
  .vertical{
    display: none;
  }
  #works_table{
    margin-bottom:5%;
  }
  
  
}

@media(min-width: 1024px){
  
  
}

